<header>

    <div id="topHeader">

        <span>
            <a href="/">THE OMNIOLOGY COLLECTION</a>
        </span>

    </div>

    <div id="headerThemes">
        <div class="themeContainer">
            <div id="themesDropdown">
                <h2 class="themes" id="thisMonthTheme">
                    <%= homepage.thisMonth %>
                </h2>
                <div id="mnthDropdown">
                    <div class="weekContainer" id="week1Container">
                        <a id="week1anc" class="weekBtn" href="/week/1">Week 1</a>
                    </div>
                    <div class="weekContainer" id="week2Container">
                        <a id="week2anc" class="weekBtn" href="/week/2">Week 2</a>
                        <span class="weekCountdown" id="countdown2"></span>
                    </div>
                    <div class="weekContainer" id="week3Container">
                        <a id="week3anc" class="weekBtn" href="/week/3">Week 3</a>
                        <span class="weekCountdown" id="countdown3"></span>
                    </div>
                    <div class="weekContainer" id="week4Container">
                        <a id="week4anc" class="weekBtn" href="/week/4">Week 4</a>
                        <span class="weekCountdown" id="countdown4"></span>
                    </div>
                </div>
            </div>
        </div>

        <div id="nextMonthThemeContainer">
            <h2 class="themes" id="nextMonthTheme">
                <%= homepage.nextMonth %>
            </h2>
            <p id="nextMnthRls" class="rlsMsg">To be released in <%= nextMonth %></p>
        </div>

        <div id="nextNextMonthThemeContainer">
            <h2 class="themes" id="nextNextMonthTheme">
                <%= homepage.nextNextMonth %>
            </h2>
            <p id="nxtNxtMnthRls" class="rlsMsg">To be released in <%= nextNextMonth %></p>
        </div>

    </div>
</header>