<% layout('layouts/boilerplate'); %>

<main id="cartMain">
    <div>
        <% items.forEach((item, index) => { %>
            <div class="cartItem">
                <div class="itemRow">
                    <span class="itemId" id="itemId<%= index %>"><%= item._id %></span>
                    <img class="cartPhoto" src="<%= item.PhotosSrc[0] %>">
                    <div class="cartText">
                        <h2><%= item.Title %></h2>
                        <span>$<%= item.ListPrice %></span><br>
                        <button id="removeButton<%= index %>">Remove</button>
                    </div>
                </div>
            </div>
        <% }); %>
        <br><br><br>
    </div>

    <% if (items.length > 0) { %>
        <button id="goToCheckout">Proceed to Checkout</button>
    <% } else { %>
        <p>There's nothing here!</p>
    <% } %>
</main>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://js.stripe.com/v3/"></script>
<script src="/scripts/cart.js"></script>