<% layout('layouts/boilerplate'); %>

<table id="itemTable">
    <tbody>
    <tr>
        <th>Edit</th>
        <th id="itemId">InventoryId</th>
        <th>Title</th>
        <th id="itemDescription">Description</th>
        <th>PhotoThumbnails</th>
        <th>Weight</th>
        <th>Measurements</th>
        <th>AdditionalTests</th>
        <th>PurchasedFrom</th>
        <th>PurchasePrice</th>
        <th>ListPrice</th>
        <th>SoldPrice</th>
        <th>ShippingDate</th>
    </tr>
    <% items.forEach((item, index) => { %>
        <tr>
            <td><a href="/admin/item/edit/<%= item._id %>"><button>Edit</button></a></td>
            <td><%= item.InventoryId %></td>
            <td><%= item.Title %></td>
            <td><%= item.Description %></td>
            <td>
            <div>
            <% for(let photo of item.PhotosSrc) { %>
                <img class="photoThumbnail<%= index %> photoThumbnail" src=<%= photo %>>
            <% } %>
            <a class="prev" id="prev<%= index %>">&#10094</a>
            <a class="next" id="next<%= index %>">&#10095</a>
            </div>
            </td>
            <td><%= item.Weight %></td>
            <td><%= item.Measurements %></td>
            <td><%= item.AdditionalTests %></td>
            <td><%= item.PurchasedFrom %></td>
            <td>$<%= item.PurchasePrice %></td>
            <td>$<%= item.ListPrice %></td>
            <td>$<%= item.SoldPrice %></td>
            <td><%= item.YMDdate %></td>
        </tr>
    <% }); %>
    </tbody>
</table>

<script src="/scripts/itemIndex.js"></script>